<div class="row">
    <div class="col-md-3">
      <b>Protocolo Nº: </b> <br/>
      {{ordemServico.id}}
    </div>
    <div class="col-md-3">
      <b>Realizado em: </b> <br/>
      {{ordemServico.dataRetirada}}
    </div>
    <div class="col-md-3">
      <b>Paciente: </b> <br/>
      {{ordemServico.paciente}}
    </div>
    <div class="col-md-3">
      <b>Convênio: </b> <br/>
      {{ordemServico.convenio}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <b>Médico Solicitante: </b> <br/>
      {{ordemServico.medico}}
    </div>
  </div>
  
  <hr>
  <div class="row alert alert-danger">
    <div class="col-md-3">
    <b>Retirar no Laboratório: </b> <br/>
        {{ordemServico.postoColeta}}
    </div>
    <div class="col-md-3">
      <b>Endereço: </b> <br/>
        {{ordemServico.postoColetaEndereco}}
    </div>
    <div class="col-md-3">
        <b>Data Retirada: </b> <br/>
        {{ordemServico.dataRetirada}}
    </div>
  </div>
  
  <hr>
  <table class="table table-hover">
    <thead>
      <th>Exame</th>
       <th>Valor</th>
       <th>Previsão</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of ordemServicoexames"> 
        <td>
          {{item.exameNome | uppercase }}
        </td>
        <td>
          {{item.preco}}
        </td>
        <td>
          {{item.dataResultado}}
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-10" >
      
    </div>
    <div class="col-md-2" >
      <b>Valor Total:</b>
      {{ordemServico.total}}
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-6 center" >
      <input type="button" name="imprimir" value="Imprimir" onclick="window.print();">
    </div>
    <div class="col-md-6 center" >
      <input type="button" name="nova" value="Nova OS" (click)="novaOs();">
    </div>
  </div>